# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C++ build artifacts
*.o
*.a
*.so
*.elf
*.bin
*.map

# ESPHome build artifacts
.esphome/
.pioenvs/
.piolibdeps/

# deployment secrets
/secrets.yaml

# uv / Python virtual environment
.venv/
uv.lock

# home configuration
esphome_*.yaml

# Python egg-info build artifacts
*.egg-info/

traces/
